*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	font-family: cursive;
}
.navbar{
	width: 100%;
	background-color: black;
	position: fixed;
	padding: 20px;
}
.navbar .max-widht{
	width: 2000;
	display: flex;
	justify-content: space-between;
	margin: auto;
}
.logo a{
	color: red;
	font-size: 40px;
	font-weight: 500;

}
.logo a span{
	color: green;

}
.menu li{
	display: inline-block;
}
.menu li a{
	color:white;
	font-size: 70px;
	font-weight: 700;
}
.menu li a{
	color: white;
	font-size: 20px;
	font-weight: 700;
	margin-left: none;
	transition: color 2s;
}
.menu li a hover{
	color: orange;
}
.moi{
	color: green;
	font-size: 100px;
	text-align: center;
}
.sous li{
	width: 100%;
	text-align: center;
	background-color: #e74c3c;
	border: 2px solid #bdc3c7;
}
.sous{
	width: 100%;
	text-align: center;
	background-color: #e74c3c;
	border: 2px solid #bdc3c7;
}
.isi{
	background: gray;
	border: 30px dashed purple;
}
.home{
	background-image: url('IMG_7007.PNG');
	height: 800px;
	display: flex;
}
.home .max-widht{
	color: black;
	margin: auto 120px; 
}
.home .max-widht .text1{
	font-size: 40px;
	font-weight: 500;

}
.home .max-widht .text3{
	font-size: 60px;
	font-weight: 500;
}
.home .max-widht .text4{
	font-size: 60px;
	font-weight: 500;

}
.home .max-widht .button{
	display: inline-block;
	color: blue;
	font-size: 40px;
	font-weight: 600;
	background-color: crimson;
	border: 2px dashed crimson;
	border-radius: 20px;
	padding: 10px 40px;
	margin-top: 30px;
}
.home .max-widht .button:hover{
	background: none;
}
/*****************************************************************/
.about .title1{
	font-size: 40px;
	font-weight: 700;
	text-align:center;
	text-decoration: underline red;
	color: purple;
}
.about .about-content{
	display: flex;
	justify-content: space-between;
	padding: 0px 100px;
}
.about .div-left{
	width: 45%;
}
.about .div-right{
	width: 55%;
}
.about .div-left img{
	height: 500px;
	width: 500px;
	border-radius: 20px;
}
.about .div-right .text{
	font-size: 35px;
	font-weight:600;
	margin-bottom: 10px; 
}
.about .div-right .text span{
	color: orange;
}
.about .div-right p{
	text-align: justify;
	font-size: 20px;
}
.about .div-right a{
	display: inline-block;
	color: red;
	font-size: 40px;
	font-weight: 400
	background-color:green;
	border: 2px dashed green;
	border-radius: 20px;
	padding: 10px 40px;
	margin-top: 20px;
	background: yellow;
}
.about .div-right a:hover{
	background: none;
	color: green;
}